@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1> jQuery-File-Upload.MVC5</h1>
    <p class="lead">Simple implementation of Blueimp jQuery File Upload Plugin using ASP.NET MVC5 </p>
    <p><a href="https://github.com/TheKalin/jQuery-File-Upload.MVC5" class="btn btn-primary btn-lg">Check it on github&raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>blueimp/jQuery-File-Upload</h2>
        <p>
            File Upload widget with multiple file selection, drag&drop support, progress bar, validation and preview images, audio and video for jQuery. Supports cross-domain, chunked and resumable file uploads. Works with any server-side platform (Google App Engine, PHP, Python, Ruby on Rails, Java, etc.) that supports standard HTML form file uploads.
        </p>
        <p><a class="btn btn-default" href="https://github.com/blueimp/jQuery-File-Upload/">Go &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>blueimp/Gallery</h2>
        <p>blueimp Gallery is a touch-enabled, responsive and customizable image & video gallery, carousel and lightbox, optimized for both mobile and desktop web browsers. It features swipe, mouse and keyboard navigation, transition effects, slideshow functionality, fullscreen support and on-demand content loading and can be extended to display additional…</p>
        <p><a class="btn btn-default" href="https://blueimp.github.io/jQuery-File-Upload/index.html">Go&raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2> John-ph C#: Image resize, convert, and save</h2>
        <p>C#: Image resize, convert, and save <p><a class="btn btn-default" href="http://www.codeproject.com/Tips/552141/Csharp-Image-resize-convert-and-save">Go&raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>teambox/Free-file-icons</h2>
        <p>Platform-agnostic icons for audio, image, programming and office files  <p><a class="btn btn-default" href="https://github.com/teambox/Free-file-icons">Go&raquo;</a></p>
    </div>

   
    <div class="col-md-4">
        <h2> maxpavlov/jQuery-File-Upload.MVC3</h2>
        <p>An example of how to use jQuery-File-Upload plugin with ASP.NET MVC3   <p><a class="btn btn-default" href="https://github.com/maxpavlov/jQuery-File-Upload.MVC3">Go&raquo;</a></p>
    </div>
</div>